<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

    <h1>Add A New Student</h1>
    <form action="/add-student" method='POST'>
        <label>First name:
            <input type="text" name="fname">
        </label>
        <label>Last name:
            <input type="text" name="lname">
        </label>
        <label>GitHub:
            <input type="text" name="github">
        </label>
        <input type="submit" value="Add Student">
    </form>

</body>
</html>
