
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_cart %}
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.quantity }}</td>
            <td>{{ melon.price_str() }}</td>
            <td>${{ '{:.02f}'.format(melon.total) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ '{:.02f}'.format(total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
